.container
    slot(name="content-panel")
        .panel.content-panel
            .main-block.center-wrap
                slot(name="content")
                    #content
                        .default-content
                            h2 Are you eat cabbage today ?
                            p Do libraries and frameworks prioritize components on boot? If so, how, and if not what can we do? And, in exploring Do libraries and frameworks prioritize components on boot? If so, how, and if not what can we do?
    slot(name="meta-panel")
        .panel.meta-panel
            .main-block.center-wrap
                slot(name="mete")
                    #meta
                        .default-meta
                            .blackboard
                                .item
                                    .item-name
                                        p 最后编辑时间：
                                    .item-value
                                        p 2020/11/19 14:00
                                .item
                                    .item-name
                                        p 阅读时间：
                                    .item-value
                                        p 8分钟
                                .item
                                    .item-name
                                        p 标签：
                                    .item-value
                                        p #花菜, #蔬菜
