.container
    .launch-screen
    .background
    .content
        .wrap
            .summary
                .summary-block
                    | asdafwafawf
                    | aiwjhiufjiuwiu
                    br
                    | daiwjdoiwad
            .mete
                .mete-block
                    .item
                        .name 最后编辑时间:
                        .value 2020/11/27 17:28
                    .item
                        .name 阅读时间:
                        .value 8分钟
                    .item
                        .name 标签:
                        .value #花菜, #蔬菜
            
