:root {
  // 页面的主要内容最大宽度
  --main-content-witdh: 750px;
  // 页面文字尺寸
  --page-font-size: 16px;
}

@media (min-width: 1000px) {
  :root {
    --page-font-size: 20px;
  }
}


// init
:root {
  font-size: var(--page-font-size);
}