doctype html
html(lang="zh-cn" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Document

    link(rel="canonical", href="https://www.tokisakiyuu.com")
    link(rel="icon", href="64x64.png")
    link(rel="manifest", href="./manifest.json")

    //- General
    meta(name="application-name" content="HTML Template")
    meta(name="author" content="Tokisaki Yuu")
    meta(name="description" content="Modern pug Starter Template")
    meta(name="keywords" content="modern, useful, html, html5, css, css3, javascript, js, template, boilerplate, pug")
    meta(name="referrer" content="strict-origin")
    meta(itemprop="name" content="HTML Template")
    meta(itemprop="description" content="Modern pug Starter Template")
    meta(itemprop="image" content="128x128.png")

    //- IOS
    meta(name="apple-mobile-web-app-title" content="HTML Template")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="#333")
    link(rel="apple-touch-icon" href="512x512.png")

    //- Android
    meta(name="theme-color" content="#f0f0f0")
    meta(name="color-scheme" content="light")
    meta(name="mobile-web-app-capable" content="yes")

    //- custom
    block head
  block body