@import "./presets.less";

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  ::-webkit-scrollbar {
    width: 0;
  }
  body {
    color: rgb(102 102 102);
    -webkit-tap-highlight-color:rgb(79, 255, 108);
  }
}

::selection {
  background-color: rgba(244, 143, 177, .55);
}