:host {
  display: block;
}

.panel {
  .main-block {
    max-width: var(--main-content-witdh);
    padding: 0 var(--main-content-gap-side);
    box-sizing: border-box;
    margin: 0 auto;
  }
}

slot::slotted(code) {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: .9em;
  padding: 2px 8px !important;
  border-radius: 5px;
}
