doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Article
    link(rel="stylesheet", href="/static/css/article.css")
  body
    article
      figure.header

