@import "./common.less";
// 霓虹灯文字特效
@import "neon-sign/neon-sign.less";

#article {
    .article-wrap {
        max-width: 630px;
        height: 800px;
        margin: 0 auto;
        // background-color: gainsboro;
    }

    header {
        .text {
            font-size: 40px;
        }
    }
}