:host {
  display: block;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.panel {
  .main-block {
    margin: 0 auto;
    max-width: var(--main-content-width);
    padding: 12px var(--main-content-gap-side);
  }
}

.hidden {
  display: none;
}

.description {
  font-size: 90%;
  text-align: center;
  color: rgb(34,34,34);
  font-style: italic;
  padding: 10px 0;
}

.center-wrap {
  display: flex;
  align-items:center;
  justify-content:center;
  img {
    max-width: 100%;
    border: 6px solid white;
    border-radius: 3px;
    box-shadow: 2px 3px 6px 0px #b3b3b380;
  }
}


.placeholder {
  --placeholder-width: 50px;
  --placeholder-height: 50px;
  .image-placeholder {
    // width: var(--placeholder-width);
    // height: var(--placeholder-height);
    // background-color: gainsboro;
  }
}