.container
  .panel
    .main-block
      .image.hidden
        .center-wrap
          img(src)
      .placeholder
        .center-wrap
          slot
            .image-placeholder
      .description