.container
    .launch-screen
    .background
    .content
        .wrap
            .summary
                .summary-block
                    h1
                        slot(name="title")
                    p
                        slot(name="overview")
            .mete
                .mete-block
                    .item
                        .name 最后编辑时间:
                        .value
                            slot(name="last_modified") &nbsp;
                    .item
                        .name 阅读时间:
                        .value
                            slot(name="read_time") &nbsp;
                    .item
                        .name 标签:
                        .value
                            slot(name="tags") &nbsp;
