:host {
  display: block;
  * {
    margin: 0;
    padding: 0;
  }
}

.container {
  .content-panel {
    min-height: 100vh;
  }
}

.panel {
  .center-wrap {
    margin: 0 auto;
  }
}

.main-block {
  max-width: var(--main-content-witdh);
}