:host {
  display: block;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.panel {
  background-color: rgb(30, 30, 30);
  .main-block {
    margin: 0 auto;
    max-width: var(--main-content-witdh);
    font-size: .9em;
    ::selection {
      background-color: rgba(109, 160, 255, 0.363);
    }
    pre {
      overflow: scroll;
      ::-webkit-scrollbar {
        width: 0;
      }
      box-sizing: border-box;
      padding: 34px calc(var(--main-content-gap-side) + 20px);
    }
  }
}

code {
  font-family: Consolas, "Courier New", monospace;
  color: white;
}


// 分语言设置高亮css
// :host([lang='javascript']) {
  
// }

// :host([lang='java']) {
  
// }

// :host([lang='rust']) {
  
// }


// common highlight styles
:host {
  code {
    // from highlight.js styles railscasts.css
    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      background: #232323;
      color: #e6e1dc;
    }
    
    .hljs-comment,
    .hljs-quote {
      color: #bc9458;
      font-style: italic;
    }
    
    .hljs-keyword,
    .hljs-selector-tag {
      color: #c26230;
    }
    
    .hljs-string,
    .hljs-number,
    .hljs-regexp,
    .hljs-variable,
    .hljs-template-variable {
      color: #a5c261;
    }
    
    .hljs-subst {
      color: #519f50;
    }
    
    .hljs-tag,
    .hljs-name {
      color: #e8bf6a;
    }
    
    .hljs-type {
      color: #da4939;
    }
    
    
    .hljs-symbol,
    .hljs-bullet,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-attr,
    .hljs-link {
      color: #6d9cbe;
    }
    
    .hljs-params {
      color: #d0d0ff;
    }
    
    .hljs-attribute {
      color: #cda869;
    }
    
    .hljs-meta {
      color: #9b859d;
    }
    
    .hljs-title,
    .hljs-section {
      color: #ffc66d;
    }
    
    .hljs-addition {
      background-color: #144212;
      color: #e6e1dc;
      display: inline-block;
      width: 100%;
    }
    
    .hljs-deletion {
      background-color: #600;
      color: #e6e1dc;
      display: inline-block;
      width: 100%;
    }
    
    .hljs-selector-class {
      color: #9b703f;
    }
    
    .hljs-selector-id {
      color: #8b98ab;
    }
    
    .hljs-emphasis {
      font-style: italic;
    }
    
    .hljs-strong {
      font-weight: bold;
    }
    
    .hljs-link {
      text-decoration: underline;
    }  
  }
}